@import url("https://fonts.googleapis.com/css2?family=Jaini&display=swap");

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  width: 30rem;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(47, 47, 47, 0.7);
  border-radius: 0 2rem 2rem 0;
  backdrop-filter: blur(8px);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.7);
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.6rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  text-align: start;
}

.nav-link b {
  color: #f99136;
  font-weight: 500;
  transition: all 0.5s;
  font-size: 2rem;
  text-shadow: 0 0px 20px #f99136;
}

.nav-link:hover {
  color: #f99136;
  cursor: pointer;
  text-shadow: 0 0px 20px #f99136;
}

.nav-icon {
  margin-left: 8px;
  font-size: 2.4rem;
}

.nav-link:hover.nav-icon {
  color: #f99136;
}

.upper-nav {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}

.nav-btn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.logo {
  font-size: 4.8rem;
  color: #f99136;
  text-transform: uppercase;
  font-family: "Jaini", system-ui;
  text-shadow: 0 0px 20px #f99136;
}

/**********************/
/* LIGHT / DARK MODE */
/**********************/
.toggle-mode {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.toggle-mode p {
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
}

.switch {
  font-size: 1.7rem;
  position: relative;
  display: inline-block;
  width: 6.5rem;
  height: 4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  transition: 0.4s;
  border-radius: 3rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 2rem;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: #f99136;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  transform: translateX(2.5rem);
}

input:checked + .slider::after {
  width: 2.5rem;
  height: 2.5rem;
  left: 44%;
  top: 17%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  transition: ease 0.4s;
}

/*********************/
/* LANGUAGE SWITCHER */
/*********************/
.nav-btn,
.main-btn {
  border: #000 2px dashed;
  padding: 8px 16px;
  color: #f99136;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 0.5s;
  font-size: 1.6rem;
  cursor: pointer;
}

.nav-btn:hover,
.main-btn:hover {
  border: #f99136 2px dashed;
  background-color: #000;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #f99136;
  transition: all 0.3s ease;
}

/* Hamburger Icon Active State */
.hamburger.active .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Header visibility */
header.header-hidden {
  display: none;
}

@media only screen and (max-width: 1080px) {
  .hamburger {
    display: flex;
  }

  header.header-visible {
    display: none;
    position: fixed;
  }
}
