.blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 3.6rem;
  padding: 3.6rem;
}

.blog-main-heading {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 4.4rem;
  padding: 4.8rem;
  margin-top: 6.4rem;
}

.blog-main-heading b {
  color: #f99136;
  font-size: 4.8rem;
}
