.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(47, 47, 47, 0.7);
  box-shadow: 2px 2px 20px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
  height: 50rem;
  max-width: 35rem;
  padding: 1.6rem;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  border-style: dashed;
  border-color: #f99136;
}

.card::before {
  top: 0;
  right: 0;
  width: 75%;
  height: 30%;
  border-width: 3px 3px 0 0;
}

.card::after {
  bottom: 0;
  left: 0;
  width: 75%;
  height: 30%;
  border-width: 0 0 3px 3px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 99%;
  border-width: 3px;
}

.card:hover::before {
  top: 0;
  right: 0;
  border-width: 3px 0 0 3px;
}

.card:hover {
  transform: translate(0);
  box-shadow: none;
}

.card:hover::after {
  bottom: 0;
  left: 0;
  border-width: 0 3px 3px 0;
}

.featured-image {
  overflow: hidden;
  width: 24.5rem;
  height: 35rem;
}

.featured-image img {
  width: 100%;
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.product-name {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.product-price {
  font-size: 1.8rem;
  color: #f99136;
  padding: 1rem 1.6rem;
  text-align: center;
}

.btn-buy {
  font-size: 1.2rem;
  z-index: 9;
}

.image-link {
  z-index: 99;
}

@media only screen and (max-width: 830px) {
  .card {
    height: 35rem;
    max-width: 25rem;
    padding: 0;
  }

  .featured-image {
    width: 14.7rem;
    height: 21rem;
  }
}

@media only screen and (max-width: 440px) {
  .card {
    height: 50rem;
    max-width: 35rem;
  }

  .featured-image {
    width: 24.5rem;
    height: 35rem;
  }
}
