/***********************************/
/*********** MORE APPS *************/
/***********************************/
.more-apps-section {
  margin-top: 9.6rem;
  position: relative;
}

.more-apps-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 55fr 45fr;
  padding: 9.6rem 0;
  position: relative;
}

.more-apps-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.more-apps-heading {
  font-size: 4.8rem;
  font-weight: 700;
  color: #fff;
}

.more-apps-description {
  color: #adb2b1;
  font-weight: 500;
  font-size: 1.6rem;
}

.more-apps-links {
  display: flex;
  width: 50%;
  gap: 1.6rem;
}

.star-10 {
  left: 25%;
  top: 12%;
  width: 4.8rem;
}

.star-11 {
  bottom: 12%;
  left: 25%;
  width: 4.8rem;
}

.star-12 {
  right: 15%;
  top: 70%;
  width: 2.4rem;
}

.star-13 {
  bottom: -30%;
  left: 10%;
}

.star-14 {
  bottom: -40%;
  left: 40%;
}

.star-15 {
  bottom: -20%;
  right: 10%;
}
