/* GENERAL STYLINGS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

li {
  list-style: none;
}

.container {
  max-width: 138rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: #1a1d1e;
}

[data-theme="dark"] {
  background: linear-gradient(145deg, #746f6a 0%, #857f7a 50%, #a69f98 100%);
}

/* Light mode */
[data-theme="light"] {
  background-color: #262525 !important;

  header,
  footer {
    background-color: #262525;
  }
}
