.login-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.7);
}

.login-container {
  max-width: 60rem;
  border: dashed 3px #f99136;
  box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.7);
  padding: 2.4rem;
  border-radius: 1.6rem;
}

.login-heading {
  font-size: 3.6rem;
  text-align: center;
  color: #f99136;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 500;
}

.account-text {
  font-size: 2.4rem;
  color: #f99136;
}

.reg-log-btn {
  color: #fff;
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
  padding: 8px;
  cursor: pointer;
}
