.single-blog-container {
  display: flex;
  flex-direction: column;
  width: 120rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.single-blog-title {
  font-size: 3.6rem;
  color: #f99136;
  padding: 4.8rem 2.4rem;
  text-transform: uppercase;
  margin-top: 9.6rem;
}

.single-blog-image {
  width: 50%;
  height: 50%;
  border-radius: 1.6rem;
  margin: 1.6rem;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.7);
}

.single-blog-body {
  font-size: 2.4rem;
  padding: 4.8rem;
  color: #fff;
}

@media screen and (max-width: 1505px) {
  .single-blog-container {
    width: auto;
  }

  .single-blog-image {
    width: 30%;
    height: 30%;
  }

  .single-blog-body {
    font-size: 1.6rem;
    padding: 1.6rem;
    color: #fff;
  }
}

@media screen and (max-width: 800px) {
  .single-blog-image {
    width: 50%;
    height: 50%;
  }

  .single-blog-title {
    font-size: 2rem;
  }
}
