/* GENERAL STYLINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

li {
  list-style: none;
}

.container,
nav {
  max-width: 138rem;
  margin: 0 auto;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
  background-color: #1a1d1e;
}
